@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
    --frame-color: #F5F5F5AA;
    --font-color: #121330;
    --shadow-color: #00000033;
}

* {
    padding: 0;
    box-sizing: border-box;
    color: var(--font-color);
    font-family: 'Poppins', monospace;
    font-weight: 500;
}

#menu {
    border: none;
    outline: none;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    min-width: 200px;
    width: fit-content;
    height: fit-content;
    padding: 2em;
    max-width: 70%;
    box-shadow: 0px 8px 16px 0px var(--shadow-color);
    background-color: var(--frame-color);
}

#menu > h1 {
    font-weight: 600;
    font-size: 18px;
}

#menu p, #menu h1 {
    text-align: center;
}